@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display:flex;
  flex-direction:column;

  /* fallback height */
  min-height:100vh;

  /* new small viewport height for modern browsers */
  min-height:100svh;
}

body {
  font-family: 'Karla', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background-color: #0C2A4D;
  /* background-color: #cbc8be; */
  /* background-color: #C69C6D; */
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background-color: #0C2A4D;
  max-height: 200px;
  color: #0C2A4D;
  margin-top:auto;
  /* background-color: #cbc8be; */
  /* background-color: #C69C6D; */

}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* color: #D4AF37; */

}

.header ul li {
  margin-left: 20px;
  list-style: none;
  /* color: #D4AF37; */
}

.header ul li a {
  display: flex;
  align-items: center;
  color: #C69C6D;
  font-weight: bold;
  /* color: #0f1f2c; */

}

.header ul li a:hover {
  color: #777;
}

.header img {
  max-height: 200px;
  margin-left: 30px;
}

.footer img {
  max-height: 80px;
}

h1 {
  /* color: #0C2A4D; */
  /* color: #F5F5DC; */
  color: #0f1f2c;
}

.login-register-toggle-container p {
  color: #F0E1C8;
}


.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.progress-bar-container ul {

  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: solid 2px #0C2A4D;
  min-height: 50px;
}

.progress-bar-container li {
  flex: 1;
  text-align: center;
  font-weight: bold;
  display: flex;           /* Set flexbox on each li */
  align-items: center; 
  justify-content: center;

}
.full-width-progress {
  width: 100vw;
}